.Banner {
   width: 100%;
   height: 75%;
   position: fixed;
   background-image: url(/NavBar/Img.png);
   background-size: cover;
   background-position: center;
}

.icon-white {
   color: white;
   font-size: 20px;
   cursor: pointer;

}

.icon-pro {
   color: #F1C31A;
}

.icon-free {
   color: white;
}

.icon-enterprise {
   color: #4AEFDF;
}

.cont:hover .cube {
   color: black;
}

#searchform {
   float: right;
}

@font-face {
   font-family: 'Graphik';
   src: url('/fonts/Graphik-Font-Family/GraphikRegular.otf') format('truetype');
}

@font-face {
   font-family: 'Proxima';
   src: url('/fonts/FontsFree-Net-Proxima-Nova-Black.otf') format('truetype');
}


.graphik {
   font-family: Graphik;
}

.Proxima {
   font-family: 'Proxima';
   font-weight: bolder;


}

.hero-section {
   background-color: #212529;
   padding: 0;

}

.project-section {
   background-color: #00A88F;
   padding: 0;

}

.coder {
   color: #00DFC0;
}

hr {
   color: #E7E7E7;
   margin: 0;
   width: 50%;
}

.btn-green {
   color: #fff;
   background-color: #018673;
   border-color: #018673;
}

.btn-green:hover {
   color: #fff;
   background-color: #006e5e;
   border-color: #005c4e;
}

.btn-outline-white {
   color: #ffffff;
   border-color: #ffffff;
}

.btn-outline-white:hover {
   color: #E7E7E7;
   background-color: #E7E7E7;
   border-color: #E7E7E7;
}

.btn-outline-damp {
   color: #212529;
   border-color: #212529;
}

.btn-outline-damp:hover {
   color: #1a1d20;
   background-color: #1a1d20;
   border-color: #1a1d20;
}

.bg-c1 {
   background-color: #00A88F !important
}

img.shadow1 {
   filter: brightness(120%);
   filter: contrast(120%);
   filter: drop-shadow(5px 5px 5px black);

}

.box:hover .ele {
   color: #f3f3f3;
}

.light-font {
   color: #9c9c9c;
}






/* boxer replaced to boxer */

.boxer {
   position: relative;
   /* display: flex; */
   /* flex-direction: column; */
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: 1px solid rgba(0, 0, 0, .125);
   border-radius: .25rem
}

.boxer>hr {
   margin-right: 0;
   margin-left: 0
}

.boxer>.list-group {
   border-top: inherit;
   border-bottom: inherit
}

.boxer>.list-group:first-child {
   border-top-width: 0;
   border-top-left-radius: calc(.25rem - 1px);
   border-top-right-radius: calc(.25rem - 1px)
}

.boxer>.list-group:last-child {
   border-bottom-width: 0;
   border-bottom-right-radius: calc(.25rem - 1px);
   border-bottom-left-radius: calc(.25rem - 1px)
}

.boxer>.boxer-header+.list-group,
.boxer>.list-group+.boxer-footer {
   border-top: 0
}

.boxer-body {
   /* flex: 1 1 auto; */
   padding: 1rem 1rem
}

.boxer-title {
   margin-bottom: .5rem
}

.boxer-subtitle {
   margin-top: -.25rem;
   margin-bottom: 0
}

.boxer-text:last-child {
   margin-bottom: 0
}

.boxer-link:hover {
   text-decoration: none
}

.boxer-link+.boxer-link {
   margin-left: 1rem
}

.boxer-header {
   padding: .5rem 1rem;
   margin-bottom: 0;
   background-color: rgba(0, 0, 0, .03);
   border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.boxer-header:first-child {
   border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.boxer-footer {
   padding: .5rem 1rem;
   background-color: rgba(0, 0, 0, .03);
   border-top: 1px solid rgba(0, 0, 0, .125)
}

.boxer-footer:last-child {
   border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}

.boxer-header-tabs {
   margin-right: -.5rem;
   margin-bottom: -.5rem;
   margin-left: -.5rem;
   border-bottom: 0
}

.boxer-header-pills {
   margin-right: -.5rem;
   margin-left: -.5rem
}

.boxer-img-overlay {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
   border-radius: calc(.25rem - 1px)
}

.boxer-img,
.boxer-img-bottom,
.boxer-img-top {
   width: 100%
}

.boxer-img,
.boxer-img-top {
   border-top-left-radius: calc(.25rem - 1px);
   border-top-right-radius: calc(.25rem - 1px)
}

.boxer-img,
.boxer-img-bottom {
   border-bottom-right-radius: calc(.25rem - 1px);
   border-bottom-left-radius: calc(.25rem - 1px)
}

.boxer-group>.boxer {
   margin-bottom: .75rem
}

@media (min-width:576px) {
   .boxer-group {
      /* display: flex; */
      /* flex-flow: row wrap */
   }

   .boxer-group>.boxer {
      /* flex: 1 0 0%; */
      margin-bottom: 0
   }

   .boxer-group>.boxer+.boxer {
      margin-left: 0;
      border-left: 0
   }

   .boxer-group>.boxer:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0
   }

   .boxer-group>.boxer:not(:last-child) .boxer-header,
   .boxer-group>.boxer:not(:last-child) .boxer-img-top {
      border-top-right-radius: 0
   }

   .boxer-group>.boxer:not(:last-child) .boxer-footer,
   .boxer-group>.boxer:not(:last-child) .boxer-img-bottom {
      border-bottom-right-radius: 0
   }

   .boxer-group>.boxer:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0
   }

   .boxer-group>.boxer:not(:first-child) .boxer-header,
   .boxer-group>.boxer:not(:first-child) .boxer-img-top {
      border-top-left-radius: 0
   }

   .boxer-group>.boxer:not(:first-child) .boxer-footer,
   .boxer-group>.boxer:not(:first-child) .boxer-img-bottom {
      border-bottom-left-radius: 0
   }
}

.column-custom {
   width: 35%;
}

a {
   text-decoration: none;
   color: inherit;
}

a:hover {
   text-decoration: none;
   color: inherit;

}